body {
  margin: 0;
  overflow: hidden;
}

.container {
  user-select: none;
}
.contain {
  width: 100%;
  position: fixed;
  bottom: 0vh;
  background-color: rgb(142, 202, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.start {
  width: 100px;
  height: 50px;
  border: none;
  background-color: rgb(254, 95, 95);
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  color: white;
  cursor: pointer;
}
.time {
  color: white;
  font-size: 13px;
  font-weight: bold;
  padding-right: 15px;
}

.law {
  width: 100px;
  pointer-events: auto;
}
