* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  user-select: none;
}
body {
  background-image: url(./assets/car.jpg);
  background-repeat: no-repeat;
  background-size: 1600px, 800px;
  background-position: center;
  background-attachment: fixed;
}
.size {
  width: 40px;
  background-color: rgb(220, 220, 220);
  border: none;
  margin-top: 5px;
  margin-right: 5px;
}
.size:hover {
  background-color: rgb(192, 192, 192);
}
.size-red {
  width: 40px;
  background-color: rgb(220, 220, 220);
  border: none;
  margin-top: 5px;
  margin-right: 5px;
}
.size-red:hover {
  background-color: rgb(255, 63, 63);
}
