* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  user-select: none;
}
body {
  background-image: url(./assets/car.jpg);
  background-repeat: no-repeat;
  background-size: 1600px, 800px;
  background-position: center;
  background-attachment: fixed;
}
.size {
  width: 40px;
  background-color: rgb(220, 220, 220);
  border: none;
  margin-top: 5px;
  margin-right: 5px;
}
.size:hover {
  background-color: rgb(192, 192, 192);
}
.size-red {
  width: 40px;
  background-color: rgb(220, 220, 220);
  border: none;
  margin-top: 5px;
  margin-right: 5px;
}
.size-red:hover {
  background-color: rgb(255, 63, 63);
}

.start-container {
  display: flex;
}
.contain1 {
  width: 270px;
  height: 400px;
  overflow: auto;
  scrollbar-width: none;
}
.contain2 {
  width: 30px;
  height: 450px;
  background-color: rgb(142, 202, 255);
}
.rotate {
  transform: rotate(-90deg);
  margin-top: 410px;
  white-space: pre;
  color: rgb(255, 255, 255);
}
.manu {
  display: flex;
  width: 270px;
  cursor: pointer;
}
.manu:hover {
  background-color: rgb(243, 243, 243);
}
.manu-text {
  font-weight: 600;
  padding-top: 10px;
  padding-left: 10px;
}
.manu-des {
  font-size: 13px;
  padding-left: 12px;
  color: gray;
}
